body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    background-color: rgb(253, 219, 106);
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

/*div styles*/
.common{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
}
.top{
    top: 0px;
    left: 0px;
    right: 0px;
}
.middle{
    top: 100px;
    left: 0px;
    right: 0px;
    color: rgb(0, 2, 117);
}
.bottom{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    text-align: center;
    background-color: rgb(253, 219, 106);
    color: rgb(0, 2, 117);
    font-weight: bold;
}
.heading{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 20px;
}
.imgsizing{
    display: block;
    margin: auto;
    width: 90%;
    height: auto;
    border: 5px solid black;
}
.bigfont{
    font-size: 40px;
}